.auth-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.auth-left-container {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-link {
  font-size: 36px;
  text-decoration: none;
  font-family: var(--font-heading);
  color: var(--color-accent);
  position: absolute;
  top: 24px;
  left: 48px;
  animation: fade 1s forwards;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 1s forwards;
}

.auth-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  gap: 28px;
}

.toggle-container {
  animation: fade 1s forwards;
}

.auth-form-container {
  position: relative;
  min-width: 360px;
  min-height: 420px;
  overflow: hidden;
  animation: fade 1s forwards;
}

.auth-form-container.signup .signin{
  transform: translateX(-420px);
  opacity: 0;
}

.auth-form-container.signup .signup {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .auth-page-content {
    grid-template-columns: 1fr;
  }

  .swiper {
    display: none;
  }

  .auth-left-container {
    padding: 0;
    position: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-link  {
    top: 0;
    left: 0;
    position: relative;
    font-size: 48px;
  }

  .auth-right-container {
    flex: 1;
    border-radius: 24px 24px 0 0;
  }

  .auth-form-container {
    min-width: 300px;
  }
}