.auth-form {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.auth-form.signin {
  transform: translateX(0);
  opacity: 1;
}

.auth-form.signup {
  transform: translateX(420px);
  opacity: 0;
}

.form-intro {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-intro h2 {
  color: black;
}

.form-intro p {
  color: #777;
  font-size: 12px;
}

.form-error-banner {
  background: #fff3f3;
  border: 1px solid #e5484d;
  padding: 10px;
  border-radius: 10px;
  color: #e5484d;
  font-size: 14px;
}

.form-success-banner {
  background: #edfdf3;
  border: 1px solid darkgreen;
  padding: 10px;
  border-radius: 10px;
  color: darkgreen;
  font-size: 14px;
}

.primary-btn {
  padding: 14px;
  border-radius: 50px;
  background: black;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 6px rgb(79, 79, 79);
  transition: all 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(2px);
  box-shadow: 0 4px rgb(79, 79, 79);
}

.primary-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.auth-divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 8px 0;
}

.auth-divider .line {
  height: 1px;
  flex: 1;
  background: #e5e5e5;
}

.auth-divider span {
  font-size: 13px;
  color: #777;
}

.secondary-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50px;
  border: 2px solid rgb(197, 197, 197, 1);
  background: white;
  box-shadow: 0 6px rgb(197, 197, 197, 1);
  transition: all 0.2s ease;
}

.secondary-btn:hover {
  transform: translateY(2px);
  box-shadow: 0 4px rgb(197, 197, 197, 1);
}

.secondary-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.secondary-btn img {
  width: 20px;
}