:root {
  --font-heading: 'Cooper Black', Georgia, serif;
  --font-body: sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  color: black;
  line-height: 1.6;
  background-color: #F6E9DB;
}

h1 {
  font-family: var(--font-heading);
  color: #413326;
}

button {
  font-size: 14px;
  cursor: pointer;
}
