:root {
  --font-heading: 'Cooper Black', Georgia, serif;
  --font-body: 'Satoshi', sans-serif;
  --color-accent: #413326;
  --color-base: #F6E9DB;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-body);
  color: black;
  line-height: 1.5;
  background-color: var(--color-base);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border: 3px solid var(--color-base);
  border-radius: 1rem;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

h1, h2 {
  font-family: var(--font-heading);
  color: var(--color-accent);
}

p {
  font-weight: 500;
}

button {
  font-size: 14px;
  cursor: pointer;
}
