.processing-back {
  position: fixed;
  top: 24px;
  left: 70px;
  z-index: 100;
}


.processing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  margin: 0 70px;
  text-align: center;
}

.processing-page p {
  color: var(--color-accent);
  font-size: 16px;
  color: grey;
}

@media (max-width: 768px) {
  .processing-page {
    margin: 0 30px;
  }

  .processing-page h2 {
    font-size: 32px;
  }
}
