.step-indicator {
  display: flex;
  gap: 12px;
  margin-bottom: 1rem;
}

.step {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  border: none;
  background: rgba(65, 51, 38, 0.5);
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.step.active {
  background: var(--color-accent);
}

.instruction-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-btn {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-accent);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-btn:hover {
  transform: scale(1.1);
}

.nav-btn:active {
  transform: scale(1);
}

.nav-btn.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.instruction-box {
  background-color: white;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);
  max-width: 520px;
  width: 100%;
}

.step-illustration {
  width: 100%;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
}

.step-illustration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.step-description {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  max-width: 520px;
  text-align: center;
}

.step-description a {
  color: var(--color-accent);
}

.step-description code {
  background: #e6e6e6;
  font-size: medium;
  border-radius: 4px;
  padding: 2px 4px;
}

@media (max-width: 768px) {
  .step-indicator {
    flex-direction: column;
  }

  .nav-btn {
    display: none;
  }
}