.upload-page-content {
  padding: 150px 50px 0 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 80px;
  margin-bottom: 3rem;
  animation: fade 1s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.upload-left-container h1 {
  font-size: 52px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.upload-left-container p {
  font-size: 16px;
  color: grey;
}

.processing-btn {
  margin-top: 1rem;
}

.upload-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .upload-page-content {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 120px;
  }
  
  .upload-left-container h1 {
    font-size: 40px;
  }

  .upload-left-container p {
    font-size: 14px;
  }

  .upload-right-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
  }
}