.summary-container {
  width: 100%;
}

.summary-container h1 {
  text-align: center;
  color: black;
}

.summary-content {
  margin: 1rem 0;
  text-align: justify;
  max-height: 300px;
  overflow-y: auto;
}

.action-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .summary-content {
    font-size: 14px;
  }

  .action-btns {
    gap: 1rem;
  }
}