.weekly-images {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 8px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.weekly-image {
  position: relative;
  display: flex;
}

.weekly-image img {
  max-width: 60px;
}

.weekly-image:first-child img {
  border-radius: 15px 15px 0 0;
}

.weekly-image:last-child img {
  border-radius: 0 0 15px 15px;
}

.weekly-image span {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px 6px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .weekly-images {
    flex-direction: row;
  }

  .weekly-image:first-child img {
    border-radius: 15px 0px 0 15px;
  }

  .weekly-image:last-child img {
    border-radius: 0 15px 15px 0;
  }
}