.benefits {
  height: 100vh;
  background: white;
  padding: 90px;
  display: flex;
  justify-content: center;
}

.benefits h2 {
  font-size: 2.5rem;
  color: black;
}

@media (max-width: 768px) {
  .benefits h2 {
    font-size: 2rem;
  }
}