.sign-in-btn {
  display: flex;
  text-align: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 50px;
  background: white;
  color: black;
  text-decoration: none;
  line-height: 1.1;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 600;
  transform: translateY(-2px);
  box-shadow: 0 4px rgba(197, 197, 197, 1);
  transition: all 0.2s ease;
}

.sign-in-btn:hover {
  transform: translateY(0px);
  box-shadow: 0 3px rgba(197, 197, 197, 1);
}

.sign-in-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}