.solution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 200vh;
  padding: 90px;
  display: flex;
  justify-content: center;
}

.solution h2 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .solution h2 {
    font-size: 2rem;
  }
}