.pfp-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pfp-upload {
  line-height: 1.3;
  border-radius: 50px;
}

.pfp-upload input {
  display: none;
}

.text-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-fields input {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
}