.profile-page-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  padding: 110px 70px 90px;
}

.profile-left-container {
  display: flex;
  justify-content: center;
}

.pfp-container {
  max-width: 350px;
  width: 100%;
}

.profile-right-container {
  background: white;
  border-radius: 20px;
  padding: 30px 60px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 10px 24px rgba(0,0,0,0.18);
}

@media (max-width: 768px) {
  .profile-page-content {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 90px;
    gap: 18px;
  }
  
  .pfp-container {
    max-width: 290px;
  }

  .profile-right-container {
    padding: 30px;
  }
}