.editing-intro {
  padding: 20px 10px 10px;
}

.editing-intro h1 {
  font-size: 42px;
  line-height: 1.1;
  color: black;
  padding-left: 20px;
}

.edit-prompts {
  margin: 24px 0 30px;
}

.edit-prompts li {
  margin-top: 1rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .editing-intro h1 {
    font-size: 36px;
    padding-left: 36px;
  }

  .edit-prompts {
    font-size: 12px;
  }
}