.chat-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fade 0.5s forwards;
}

.chat-summary p {
  flex: 1; 
  margin: 1rem 0;
  text-align: justify;
  padding: 1rem 2rem;
  max-height: 500px;
  overflow-y: auto;
}

.session-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .chat-summary p {
    font-size: 14px;
    margin-top: 0;
  }

  .session-btns {
    gap: 1rem;
  }
}