.chat-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  animation: fade 0.5s forwards;
}

.chat-summary-content {
  flex: 1; 
  margin: 1rem 0;
  text-align: justify;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.chat-summary-content::-webkit-scrollbar {
  width: 0.7rem;
}

.chat-summary-content::-webkit-scrollbar-thumb {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 2s ease;
}


.session-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .chat-summary-content {
    font-size: 14px;
    margin-top: 0;
  }

  .session-btns {
    gap: 1rem;
  }
}