.reflection-page-content {
  padding: 100px 70px 50px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 64px;
  animation: fade 1s forwards;
  margin-bottom: 8rem;
}

.reflection-left-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-size: 24px;
  line-height: 1.1;
}

.reflective-image {
  max-width: 300px;
  width: 100%;
}

.reflection-right-container {
  background: var(--color-surface);
  border-radius: 20px;
  min-height: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-shadow: 0 10px 24px rgba(0,0,0,0.18);
}

@media (max-width: 768px) {
  .reflection-page-content {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 80px 16px 16px;
    gap: 16px;
    margin-bottom: 0rem;
  }

  .reflection-left-container {
    flex-direction: row;
  }

  .next-step-button {
    font-size: 12px;
  }

  .heading {
    font-size: 18px;
    padding-left: 32px;
  }

  .reflective-image {
    display: none; /* TODO: figure out how to keep the image in the layout (button w/ overlay? smaller polaroid?) */
  }
}