.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.modal {
  background: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 400px;
  width: 100%;
  animation: fade 0.5s forwards;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn button {
  border: none;
  background: none;
}

.close-btn button img {
  width: 20px;
}

.modal h2 {
  color: black;
  text-align: center;
}

.modal p {
  margin-top: 12px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}

.modal-actions button {
  border: 2px solid black;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 50px;
}

.modal-actions button:first-child {
  border: 2px solid rgb(197, 197, 197, 1);
  background: white;
  box-shadow: 0 6px rgb(197, 197, 197, 1);
  transition: all 0.2s ease;
}

.modal-actions button:first-child:hover {
  transform: translateY(2px);
  box-shadow: 0 4px rgb(197, 197, 197, 1);
}

.modal-actions button:first-child:active {
  transform: translateY(6px);
  box-shadow: none;
}

.modal-actions button:last-child {
  background-color: black;
  color: white;
  box-shadow: 0 6px rgb(79, 79, 79);
  transition: all 0.2s ease;
}

.modal-actions button:last-child:hover {
  transform: translateY(2px);
  box-shadow: 0 4px rgb(79, 79, 79);
}

.modal-actions button:last-child:active {
  transform: translateY(6px);
  box-shadow: none;
}