.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.modal {
  background: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 400px;
  width: 100%;
  animation: fade 0.5s forwards;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn button {
  border: none;
  background: none;
}

.close-btn button img {
  width: 20px;
}

.modal h2 {
  color: black;
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal p {
  margin-top: 12px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}