.toggle {
  position: relative;
  display: inline-flex;
  padding: 6px;
  border-radius: 50px;
  z-index: 9;
}

.toggle button {
  position: relative;
  min-width: 100px;
  text-align: center;
  background: none;
  border: none;
  flex: 1;
  z-index: 2;
  padding: 10px 20px;
  font-size: 20px;
  font-family: var(--font-heading);
  transition: color 0.4s ease-in-out;
  white-space: nowrap;
}

.toggle-slider {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: 50%;
  border-radius: 50px;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
  z-index: 1;
}

.toggle-brown button {
  color: var(--color-accent);
}

.toggle-brown button.active {
  color: var(--color-accent-text);;
}

.toggle-brown .toggle-slider {
  background: var(--color-accent);
}

.toggle-black button {
  color: var(--toggle-dark-text);
}

.toggle-black button.active {
  color: var(--toggle-dark-active-text);
}

.toggle-black .toggle-slider {
  background: var(--toggle-dark-bg);
}

@media (max-width: 768px) {
  .toggle button {
    font-size: 16px;
  }
}